<!--[main]-->

<li>
	<a href="{$action}" class="waves-effect waves-block" generator="adianti">
	<div class="menu-info" style="width: 100%;">
		<h4>
			{$nome_pessoa}
		</h4>
		<p style="margin-top: 3px;">
			{$nome_atividade}
		</p>
		<div style="border-bottom: 2px dashed #e9e9e9;margin: 3px;"></div>
		<div style="display: inline-flex;">
			<span>
				<p>{$mensagem}</p>
			</span>
		</div>
	</div>
	</a>
</li>

<!--[/main]-->