<!--[main]-->
<style type="text/css">
	.gruponota.error {
		border: 1px solid red;
	}
	.gruponota {
		border: 1px solid #c9c9c9;
		height: 400px;
		position: relative;
		background: radial-gradient(circle at 28% 29%, rgba(237, 237, 237,0.04) 0%, rgba(237, 237, 237,0.04) 50%,rgba(136, 136, 136,0.04) 50%, rgba(136, 136, 136,0.04) 100%),radial-gradient(circle at 8% 78%, rgba(156, 156, 156,0.04) 0%, rgba(156, 156, 156,0.04) 50%,rgba(37, 37, 37,0.04) 50%, rgba(37, 37, 37,0.04) 100%),radial-gradient(circle at 29% 46%, rgba(251, 251, 251,0.04) 0%, rgba(251, 251, 251,0.04) 50%,rgba(198, 198, 198,0.04) 50%, rgba(198, 198, 198,0.04) 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));;
	}
	.gruponota .grupos {
		overflow: auto;
		padding: 10px;
		height: 395px;
	}
	.grupo {
		border: 1px solid #ddd;
		padding: 0px 10px 10px 10px;
		margin: auto auto 10px auto;
		background: white;
		position: relative;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	}
	[type="checkbox"] + label {
	    padding-left: 20px;
	    padding-right: 10px;
	    height: 18px;
	    line-height: 1;
	    font-size: 13px;
	}
	[type="checkbox"].filled-in:not(:checked) + label:after {
		height: 15px;
    	width: 15px;
	}
	[type="checkbox"].filled-in:checked + label:before {
		width: 6px;
    	height: 10px;
	}
	[type="checkbox"].filled-in:checked + label:after {
		width: 15px;
    	height: 15px;
	}
</style>
<script type="text/javascript">
	function validarNotas(nota)	{
		$(`input[id^='pode_desativar_${nota}']`).each(function(index, el){
			var grupo = $(el).data('grupo');
			if($(`#recebe_peso_${nota}_${grupo}`).is(':checked')) {
				$(`#pode_desativar_${nota}_${grupo}`).attr('disabled', true);
			} else {
				$(`#pode_desativar_${nota}_${grupo}`).removeAttr('disabled');
			}
			if($(`#pode_desativar_${nota}_${grupo}`).is(':checked')) {
				$(`#recebe_peso_${nota}_${grupo}`).attr('disabled', true);
			} else {
				$(`#recebe_peso_${nota}_${grupo}`).removeAttr('disabled');
			}
		});
		var error = false;
		$(`input[id^='pode_desativar_${nota}']:checked`).each(function(index, el){
			var grupo = $(el).data('grupo');
			if( $(`input[id^=recebe_peso_${nota}][id!=recebe_peso_${nota}_${grupo}]:checked`).length == 0 ) {
				error = true;
			}
		});
		if(error) {
			$(`.gruponota.n${nota}`).addClass('error');
		} else {
			$(`.gruponota.n${nota}`).removeClass('error');
		}
	}
	function changePeso(element)
	{
		var peso = 0;
		var grupo = $(element).data('grupo');
		$('[name^="peso_"]').each(function(index, el){
			peso += parseFloat( $(el).val() );
		});
		if(peso != 100 ) {
			$('#total_pesos').addClass('bg-red');
			$('#total_pesos').removeClass('bg-green');
		} else {
			$('#total_pesos').removeClass('bg-red');
			$('#total_pesos').addClass('bg-green');
		}
		$(`.grupo_peso_nota_${grupo}`).html($(element).val());
		$('#total_pesos').html(peso);
	}
	$(document).ready(function(){
		changePeso();
	})
</script>
<ul class="nav nav-tabs" role="tablist" style="position: relative;">
	<span id="total_pesos" class="badge" style="position: absolute;right: 15px;bottom: 10px;font-size: 15px;font-weight: bold;">100</span>
	<li role="presentation" class="active">
		<a href="#tab_bform_1026906684_0" role="tab" data-toggle="tab" aria-expanded="true">
			<span class="tab-name">Grupos</span>
		</a>
	</li>
	<li role="presentation" class="">
		<a href="#tab_bform_1026906684_1" role="tab" data-toggle="tab" aria-expanded="false">
			<span class="tab-name">Notas</span>
		</a>
	</li>
</ul>
<div class="tab-content">
	<div role="tabpanel" class="tab-pane active" style="padding:10px; margin-top: -1px;border: 1px solid #DDDDDD; width: 100%;" id="tab_bform_1026906684_0">
		<div id="gruponotadisciplina">
			<!--[grupos]-->
			{$grupos}
			<!--[/grupos]-->
		</div>
		<button id="tbutton_addgrupo" name="addgrupo" class="btn btn-default btn-sm btn btn-default btn-success" onclick="Adianti.waitMessage = 'Carregando';__adianti_post_data('form_AcdGrupoNotaDisciplina', 'class=GrupoNotaDisciplinaForm&amp;method=addGrupo&amp;static=1');return false;" aria-label="Adicionar grupo">
			<span>
				<i style="padding-right:4px;;padding-right:4px" class="fa fa-plus"></i>
				Adicionar grupo
			</span>
		</button>
	</div>
	<div role="tabpanel" class="tab-pane" style="padding:10px; margin-top: -1px;border: 1px solid #DDDDDD; width: 100%;" id="tab_bform_1026906684_1">
		<div class="col-sm-12">
			<div class="col-sm-4">
				<h5>Nota 1</h5>
			</div>
			<div class="col-sm-4">
				<h5>Nota 2</h5>
			</div>
			<div class="col-sm-4">
				<h5>Nota 3</h5>
			</div>
		</div>
		<div>
			<div class="col-sm-4">
				<div class="gruponota n1">
					<div class="grupos">
					<!--[nota1]-->
					{$grupo}
					<!--[/nota1]-->
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="gruponota n2">
					<div class="grupos">
					<!--[nota2]-->
					{$grupo}
					<!--[/nota2]-->
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="gruponota n3">
					<div class="grupos">
					<!--[nota3]-->
					{$grupo}
					<!--[/nota3]-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--[/main]-->