/** General **/
html, body
{
    height: 95.5%;
    margin: 0px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

hr
{
    margin: 20px 0;
    border: 0;
    border-bottom: 1px solid #e2e2e2;
}

hr.slim
{
    margin-top: 10px;
    margin-bottom: 10px;
}

a
{
    text-decoration: none;
}

label
{
    margin-bottom: 5px;
}

label, input, button, select, textarea
{
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

.btn:not(.btn-link):not(.btn-circle) i
{
    font-size: 12px !important;
    position: initial !important;
    top: initial !important;
}

.display-flex
{
    display:flex;
}

/** Jquery Widgets **/
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button
{
    font-size: 12px;
    margin: 0px;
}

.ui-widget
{
    font-family: inherit;
    font-size: inherit;
}

/** Window **/
.ui-dialog .window_modal
{
    padding:0.2px;
}

.ui-dialog .window_modal .panel
{
    margin-bottom:0;
    border-top:0;
    border-radius:0;
    overflow:hidden;
}

/** Navbars **/
.navbar-default .navbar-brand
{
    font-family: 'Open Sans';
}

.sidebar
{
    font-family: 'Open Sans';
}

.navbar-right {
    margin-right: 0 !important;
}

ul.navbar-top-links > li.dropdown >a {
    background: inherit;
}

ul.navbar-top-links > li.dropdown > a:hover {
    background: #4A9FE0;
}

ul.navbar-top-links .open>a, ul.navbar-top-links .open>a:hover, ul.navbar-top-links .open>a:focus {
    background: #4A9FE0;
}

.navbar-custom-menu > .navbar-nav {
    float: right;
}

/** Dropdowns **/
.dropdown-menu li a {
    display: block;
    text-decoration: unset;
    padding: 8px 12px;
    white-space: nowrap;
}

/** Popover **/
.popover.fade:not(.show) {
    display: none; /* Evita overlap */
}
.popover-table
{
    border: 1px solid #e0e0e0;
    border-collapse: collapse;
}

.popover-table td
{
    border: 1px solid #e0e0e0;
    padding: 10px;
}

.popover-body img, .popover-content img{
    width: 100%; /* Imagens dentro de popovers */
}

/** Panels **/
.panel{
    border-radius: initial;
    background: #fff;
    min-height: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid rgba(0,0,0,.125);
    
}

.panel-heading{
    display: flex;
    align-items: center;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.panel-heading:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.panel-body{
    flex: 1 1 auto;
    padding: 1.25rem;
}

.panel-footer
{
    background: initial;
}

.panel-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}

div > div.panel > .panel-body {
    padding: 10px;
}

/** Form components **/
input[widget="tslider"] {
    margin: auto;
}

.tcheckgroup_label, .tcheckgroup_label > input
{
    cursor:pointer;
}

.input-group {
    flex-wrap: unset; /** Spinner **/
}

input[type="radio"], input[type="checkbox"]
{
    margin-right: 4px !important;
}

.header-actions .btn label
{
    margin-bottom: 0px;
    cursor: pointer;
}

/* nao deixar o botao fora do campo tile*/
input.form-control.tfield[widget="tfile"], input.form-control.tfield[widget="tmultifile"] {
    padding: 1px;
}

/** Classic forms **/
.tform
{
    box-shadow: none;
    background: white !important;
    border: none !important;
    border-radius: none !important;
    padding: 0px !important;
    margin-bottom: 20px !important;
}

.tformtitle + tr > td
{
    padding-top: 15px !important;
}

.tformtitle > td
{
    background-color: #3c8dbc !important;
    padding: 8px 0px 8px 5px !important;
}

.tformtitle > td > label
{
    color: white !important;
}

.tformaction > td
{
    padding: 12px !important;
}


.tform .tformtitle > td:first-child
{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.tform .tformtitle > td:last-child
{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.tform > table
{
    background: #fff;
    border: 1px solid #C6C6C6 !important;
    padding: 0px !important;
}

/** BFBuilder **/

.col-form-label {
    text-align: unset;
}

.control-label {
    text-align: unset !important;
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}

@media (min-width: 576px) {
    .col-form-label {
        text-align: right;
    }

    .control-label {
        text-align: right !important;
    }
}

.header-actions {
    margin-left: auto;
}

.header-actions .btn {
    margin-bottom: 2px;
}

.fb-field-container:after {
    content: '';
    display: block;
    clear: both;
}

.fb-inline-field-container > .panel, .panel-body .panel {
    box-shadow: none;
}

/** Buttons **/
.btn-group .btn.btn-default.active {
    background: #6c757d;
    border-color: #6c757d;
    color: white;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(142, 142, 142, 0.58);
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: unset;
}

/** Classic datagrid **/
table.tdatagrid_table
{
    box-shadow: none;
    border-radius: 0;
}

.tdatagrid_head tr td
{
    height: 34px;
}

.tdatagrid_body tr td
{
    height: 30px;
}

.tdatagrid_body tr td input
{
    height: 24px;
    margin: 0;
    padding: 0px;
    padding-left: 3px;
    padding-right: 3px;
}


/** Datagrid **/
.panel > .panel-footer > .tpagenavigation, .panel > .panel-footer > .tpagenavigation_resume
{
    padding-top:0;
}

.table>thead[noborder="1"]>tr>th.tdatagrid_col, .table>thead[noborder="1"]>tr>th.tdatagrid_action
{
    border:0;
}

/** Checklist **/
table.table[widget="tchecklist"]>thead>tr>th, table.table[widget="tchecklist"]>tbody>tr>td
{
    user-select:none;
}

table.table[widget="tchecklist"]>thead>tr>th:first-child
{
    min-width: 50px;
}

table.table[widget="tchecklist"]>tbody>tr>td:first-child
{
    min-width: 50px;
}

/** Right panel **/
#adianti_right_panel .panel[widget="bootstrapformbuilder"]
{
    border:0;
    box-shadow:none;
}

#adianti_right_panel > div > div.panel > div.panel-heading
{
    border-top: 0;
    background: #f9f9f9;
}



/** Login form **/
#form_login table > tbody > tr.tformtitle > td
{
    text-align: center;
}

#form_login table > tbody > tr.tformtitle > td > label
{
    padding: 0;
    padding: 8px;
    font-size: 17pt;
}


/** Kanban **/
.kanban-item-actions i.fa, .card-item-actions i.fa,
.kanban-item-actions i.fas, .card-item-actions i.fas,
.kanban-item-actions i.far, .card-item-actions i.far
{
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
}

.kanban-item-actions i.fa:hover, .card-item-actions i.fa:hover,
.kanban-item-actions i.fas:hover, .card-item-actions i.fas:hover,
.kanban-item-actions i.far:hover, .card-item-actions i.far:hover
{
    background: whitesmoke !important;
    color:black !important;
}

/** Charts **/
.chart
{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    background: white;
    padding: 10px;
    margin-bottom: 15px;
}

/** Cards **/
.card-item
{
    border-radius: 3px;
}

.card-header {
    display: flex;
}

.card-title {
    font-size: 16px;
}


/** btn cadastrar **/
.inline-button {
    position:absolute !important;
    border-radius:0 !important;
    border-left:0 !important;
    box-shadow:none !important;
}

/** TMessage **/
.modal-dialog .modal-content .modal-header {
    display: block;
}

/** tags **/
.label {
    color: white;
    padding: .2em .6em .3em;
    font-weight: 700;
}

/** BC: blockquote **/
blockquote {
    border-left: 5px solid #eee;
    border-left-style: solid;
    border-left-width: 5px;
    font-size: 17.5px;
    padding: 10px 20px;
}


blockquote .small, blockquote footer, blockquote small {
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color: #777;
}

/** BC: Bootstrap **/
.pull-left {
    float: left !important;
}
.pull-right {
    float: right !important;
}

/** fullcalendar **/
.fc-event {
    color : white !important;
}

/** html editor **/
.note-toolbar {
    display: flow-root;
}

/** tslider **/
.tslidercontainer div.label {
    text-align: center;
}

/** iconpicker cortina **/
.fade {
    opacity: 1 !important;
}

/* Alinhar caret menu builder */
.menueditor-dropdown-menu .caret {
    margin: unset !important;
}
/** Generics **/
@media (max-width: 900px) {
    .hidden-xs {
        display: none;
    }
}

.label {
    border-radius: 2px;
}

/** Theme container **/
.content-wrapper
{
    background-color: white !important;
}

.layout-boxed {
    background: #e0e0e0 !important;
}

/** Profile **/
.navbar-custom-menu>ul.nav.navbar-nav>li.dropdown>a{
    display: block;
    padding: 15px;
}

/** breadcrumb **/
#div_breadcrumbs {
    margin-bottom: -5px;
}

/** Navbars **/
nav.navbar {
    padding: 0;
}

.navbar-nav {
    flex-direction: unset;
}

.sidebar-menu .treeview li, .sidebar-menu .treeview ul
{
    background: none;
    overflow: hidden;
    white-space: normal;
}

.navbar-custom-menu .nav.navbar-nav li a::after{
    display: none; /* Não exibir carrot nos í­cones do menu */
}

/** Dialogs **/
.ui-dialog .table>tbody>tr>td
{
    padding: 4px;
    vertical-align: middle;
}

.ui-dialog .panel .panel-body
{
    padding: 8px;
    padding-bottom: 4px;
}

.ui-dialog .window_modal > .panel .panel-heading
{
    background: initial;
}

.ui-dialog .ui-dialog-titlebar
{
    margin-bottom: 0;
}

.ui-dialog .table tbody tr td, .table tbody tr th
{
    padding: 8px !important;
    border-bottom: 0 !important;
}

.ui-dialog .panel-default>.panel-heading
{
    border-top: 0;
}

/** Dropdowns **/
.dropdown-menu>li>a
{
    font-size: 10pt;
}

.dropdown-menu li.footer a {
    display: block; /* Ajuste cor dos itens footer dropdown */
}

/** Buttons **/
.btn {
    cursor: pointer;
    white-space: nowrap;
}

button.btn-default
{
    height:30px;
}

button.btn-primary
{
    color: white;
}

.btn.btn-default {
    background-color: white;
}

.btn-primary {
    background-color: #3c8dbc !important;
    border-color: #367fa9 !important;
}

.btn-default:hover, .btn-default:active, .btn-default:hover {
    background-color: #e7e7e7;
    border-color: #adadad;
    color: #333;
}

.btn.btn-primary:hover {
    background-color: #367fa9 !important;
    border-color: #285e8e !important;
    color: #fff !important;
}


/** Cards, panels **/
.panel {
    margin-bottom: 20px;
    border-radius: 0;
}

.panel-default>.panel-heading
{
    background: #f8f8f8;
    min-height: 52px !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.panel-title {
    font-size: 16px;
    /* titulos estavam desalinahdos */
    margin-bottom: unset;
}

.panel-footer {
    background-color: rgba(0,0,0,.03);
    padding: .75rem 1.25rem;
    border-top: 1px solid rgba(0,0,0,.125);
}

/** BFBuilder **/
.panel form[type="bootstrap"] .ttd
{
    display: inline-block;
    margin-top: 7px;
}

.form-group.tformrow.row {
    display: flex;
    align-items: center;
}

.panel form[type="bootstrap"] .ttd {
    margin-top: unset;
}

/** Form components **/
.btn-group .btn.btn-default input[type="radio"],  .btn-group .btn.btn-default input[type="checkbox"] {
    clip: rect(0,0,0,0);
    position: absolute;
}

textarea
{
    border: 1px solid #ccc;
    border-radius: 0 !important;
    background: white;
    background-image: white;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus
{
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted 9;
}

textarea[widget="ttext"]:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus
{
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted 9;
}

select[widget="tcombo"], textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input
{
    display: inline-block;
    padding: 4px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
    border-radius: 0;
    border: 1px solid #ccc;
}

select.tcombo {
    background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='17' height='17' viewBox='0 0 24 24'><path fill='%23444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>") !important;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    padding-left: 5px;
    border: 1px solid #ccc !important;
    border-radius: 0;
    background-position: calc(100% - 6px) 50%; /* Sugestao flechas para baixo combo */
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}

select.tcombo_disabled
{
    padding-top: 0;
    padding-bottom: 0;
}

select.tcombo:not([multiple='1'])
{
    height: 30px;
}

.tfield:focus
{
    border-color: #3c8dbc !important;
    box-shadow: none !important;
    border-radius         : 0;
}

/** Seek **/
.tseekbutton
{
    height: 30px !important;
    border-radius :0 !important;
}

.tseekbutton i
{
    padding-left:2px;
}

/** Input groups, spinners **/
.input-group-addon .spin-up, .input-group-addon .spin-down {
    height: 13px !important;
}

.input-group.spinner .input-group-addon {
    padding: 4px 7px 0px 7px;
}

.input-group-addon {
    border: solid 1px;
    border-left: unset;
    border-color: #d2d6de;
}

.input-group-addon .spin-up {
    height: 10px !important;
}

.input-group-addon a i.fa {
    align-items: center;
    display: flex;
    height: 10px;
}

.input-group-addon .spin-down {
    height: unset !important;
}

/** TDate **/
span.tdate-group-addon > i.fa-clock {
    width:24px !important;
    padding-top:2px;
}

.ui-datepicker-trigger
{
    height: 30px !important;
}

.btn.btn-default.tdate-group-addon {
    padding-top: 4px !important;
}

/** TDateTime **/
.add-on.btn.btn-default.tdate-group-addon {
    padding-top: 2px !important;
}

/** TIcon **/
.iconpicker-container span {
    width: 27px;
    text-align: center;
    padding-top: 3px;
}


/** Select2 **/
.select2-container--default .select2-selection
{
    padding-left: 4px !important;
}

.select2-dropdown .select2-search__field:focus, .select2-search--inline .select2-search__field:focus {
    border: 1px solid #3c8dbc !important;
}

.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single
{
    height: 30px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow
{
    top: -2px !important;
}

input.select2-search__field
{
    height: 26px;
}

.select2-selection.select2-selection--single {
    padding-bottom: 3px;
    padding-top: 3px;
}

/** Datagrid **/
.table>thead>tr>th.tdatagrid_col, .table>thead>tr>th.tdatagrid_action
{
    border-bottom: 2px solid #ddd;
}

th.tdatagrid_col,th.tdatagrid_action {
    border-top: unset !important;
}

.table tbody tr.selected td {
    background-color: #66a4c7 !important;
    color: white !important;
}


/** TFile **/
input[widget="tfile"], input[widget="tmultifile"] {
    height: 30px;
}


/** THtmlEditor **/
.note-editor {
    border: 1px solid #bbbbbb;
}

.note-editor .modal-body {
	padding: 15px 30px;
}

/** messages, notifications **/
#envelope_messages li.header
{
    font-weight: bold;
    text-align: center;
}

#envelope_notifications li.header
{
    font-weight: bold;
    text-align: center;
}

.dropdown-toggle::after {
    height: 4px;
    vertical-align: .200em;
}

.nav.nav-pills.nav-stacked li {
    display: flex;
    width: 100%;
}

.nav.nav-pills.nav-stacked li a{
    padding: 10px 15px;
    width: 100%;
    color: #333 !important;
}

@media (max-width: 991px) {
    .main-header .navbar .dropdown-menu li a {
        color: #3c8dbc !important; /* Icone de usuário no dropdown de mensagens */
    }
}

/* TMessage */
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 600px;
        margin: 1.75rem auto;
    }
}


/** Progress bar **/
.progress {
    font-size: 12px;
    height: 20px;
}

.progress-bar span {
    overflow: hidden;
}

/** Notebook **/
.tnotebook {
    margin-bottom : 6px;
}

.nav.nav-tabs.flex-column {
    padding-left: 10px;
}

.nav.nav-tabs.flex-column .nav-item .nav-link {
    border: unset;
    margin-bottom: 1px;
    color: silver;
}

.nav.nav-tabs.flex-column .nav-item .nav-link:not(.active):hover{
    color: #444;
}

.nav.nav-tabs.flex-column .nav-item .nav-link.active {
    border: 1px solid #ddd;
    border-radius: 0;
    border-right: unset;
    color: #444;
}


/** TFieldList **/
table.tfieldlist.dashed .tfield:focus {
	border: 1px solid #3c8dbc !important;
}

.info-box
{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2) !important;
}

/* Navbar no login */
.main-header.navbar .navbar-brand {
    border-bottom: 1px solid #e7e7e7;
    color : black;
    margin: unset;
    padding: 15px;
    width: 100%;
}

/** Login form **/
div[form=form_login] .panel-heading
{
    align-content: center;
    background: #3c8dbc !important;
    color: white !important;
    display: flex;
    justify-content: center;
    height: 60px !important;
    width: 100%;
}

div[form=form_login] .panel-heading .panel-title
{
    font-size: 20px;
    line-height: 38px;
    margin: unset;
}

div[form=form_login] .fb-inline-field-container
{
    padding-right: 0 !important;
}

.login-avatar
{
    width: 35px;
    height: 30px;
    padding: 6px 12px;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-right: 0;
    float:left;
    margin-left:44px;
    height:35px;
}

@media (max-width: 400px) {
    .login-avatar
    {
        margin-left:15px;
    }
}
.card.panel[widget='bootstrapformbuilder'] > .panel-heading, #chart-box > .panel-heading{
    color: #333 !important;
background-color: #f5f5f5 !important;
    border-top: 2px solid #f5f5f5;
}
#login-wrapper .card > .panel-heading {
    color: #333 !important;
background-color: #f5f5f5 !important;   
    border-top: 2px solid #f5f5f5;
}
.card.panel[widget='bootstrapformbuilder'] .panel-title, #chart-box > .panel-heading{
    font-weight: 600;
}
.ui-dialog .window_modal
{
    padding:0.2px;
}
.ui-dialog .window_modal .panel
{
    margin-bottom:0;
    border-top:0;
    border-radius:0;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;;
    -moz-box-shadow: none !important;;
    border: 0px !important;
}
.ui-dialog .window_modal .panel-body{
  padding: 0px !important;
  padding-top: 8px !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.ui-dialog .window_modal div[widget="bootstrapformbuilder"] > .panel-heading{
   display: none;
}

.formView-detail table{
    margin-bottom: 0px;
}
.formView-detail .panel-body{
    padding: 0px;
}

.panel-body .tformrow{
    min-height: 35px;
}
.fb-field-container{
    padding-left: 8px;
    padding-right: 8px;
    min-height: 35px;
}
.fb-field-container.control-label{
    padding-top:4px;
}

.header-actions .btn label{
    cursor: pointer;
    margin-bottom: 0px;
}

.panel-title .ttd{
    margin-top: 0px !important;
}

[type=button], [type=reset], [type=submit], button{
    -webkit-appearance: unset;
}

.ui-dialog .window_modal_header_actions div[widget="bootstrapformbuilder"] > .panel-heading {
    display: block !important;
    background-color: transparent !important;
    border: 0px;
    padding-bottom: 0px;
    padding-top: 10px;
    padding-right: 10px;
    margin-bottom: -12px;
}

.ui-dialog .window_modal_header_actions div[widget="bootstrapformbuilder"] > .panel-heading .panel-title{
    display: none;
}

.tab-pane{
    padding-left: 25px !important;
    padding-right: 25px !important;
    padding-top: 15px !important;
}

.tseparator{
    margin-top: 10px;
}

hr.tseparator-divisor{
    margin-bottom: 20px;
}


